* {
    padding:0;
    margin:0;
}
.container  {
    margin:auto;
    padding:0;
    height:auto;
    
    width:990px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkorange;  
    display:flex;
    justify-content:center;
}
  
  li {
text-align:center;

  }
  
  li a {
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;

    text-align: center;
   padding:10px;
    text-decoration: none;
  }
  img {
    width:100%;
    
  }
  
  li a:hover {
    background-color:orange;
  }

.top {

background-color:orange;
width:990px;
height:100px;
font-family:arial;
}
.Mid {

    background-color:darkorange;
    width:990px;
    height:40px;

}
:root {
    --primary:black;
    --secondary: rgb(115, 255, 0);
    --alternatives:orange;
    --awesome:yellow;
    --borderColor:rgb(0, 17, 94);
}


.Banner  {

background-color:var(--primary);

height:500px;
}
.MainContent {
   display:flex;
    flex-direction:row;
    margin:auto;
    justify-content:space-between;
    gap:25px;
    margin-top:10px;
}
.Bl1 {
    background-color:orange;
    width:250px;
    height:150px;
}
.Bl2 {
    background-color:orange;
    width:250px;
    height:150px;
}
.Bl3 {
    background-color:orange;
    width:250px;
    height:150px;
}
.SecondContent {

    display:flex;
   flex-direction:row;
   gap:2px;
}
.Block {
   margin-top:2px;
    background-color:coral;
    width:250px;
    height:400px;
}
.Block2 {
    margin-top:2px;
     background-color:coral;
     width:220px;
     height:400px;
 }

.TextContent {
margin-top:4px;
color:darkred;
max-width:250px;
font-family:arial;

background-color:lightsalmon;
padding:7px;
text-align:left;
}
.Cut {
    background-color:sienna;
    width:990px;
    height:70px;
    margin-top:4px;
}